
  @import url('https://fonts.googleapis.com/css2?family=Figtree&family=Kalam&display=swap');
:root {
    --primary-color: #0a5c15;
    --secondary-color: #883606;
    --accent1-color: #f6e6b7;
    --accent2-color: #ff7c0a;
  
    --heading-font: 'Kalam', sans-serif;
    --paragraph-font: 'Figtree', cursive;
  
    --nav-background-color: #ff7c0a;
    --nav-link-color: #ff7c0a;
    --nav-hover-link-color: #b1cee7;
    --nav-hover-background-color: #b1cee7;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body {
    font-size: 15px;
    font-family: var(--heading-font);
}
.herodiv{
    margin: 200px auto;
    position:relative;
    }
.herodiv img {
    position: absolute;
}
h1{ position: absolute;
font-size: 25px;
font-family: var(--heading-font);}
article{
    background-color: #b1cee7;
    position: absolute;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
article img{
    float: right;
}
p {font-family:var(--heading-font);}