

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tilt+Neon&display=swap');

:root {
  --primary-color: #0a5c15;
  --secondary-color: #883606;
  --accent1-color: #f6e6b7;
  --accent2-color: #ff7c0a;

  --heading-font: 'Josefin+Sans', serif;
  --paragraph-font: 'ilt+Neon', serif;

  --nav-background-color: #ff7c0a;
  --nav-link-color: #ff7c0a;
  --nav-hover-link-color: #b1cee7;
  --nav-hover-background-color: #b1cee7;
}
body {
  max-width: 960px;
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 25px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}